/* Home.module.css */

.quizContainer {
  width: 1366px;
  height: 641px;
  background: #004643;
}

.quizContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1360px;
  height: 631px;
}

.headingContainer{
  color: white;
  font-size: 48px;
  border: transparent;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin-bottom: 90px;
}

label {
  color: #EEEFF2;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
}

.inputhome {
  margin-top: 10px;
  border-radius: 20px;
  height: 36px;
  width: 300px;
  font-size: 17px;
  background-color: transparent;
  color: white;
  border: 1px solid #EEEFF2;
  padding: 10px;
}

.inputhome::placeholder {
  color: white;
  font-size: 14px;
}

.inputhome:focus {
  outline: none;
  border-color: #dba634;
  box-shadow: 0 0 5px rgba(198, 216, 38, 0.5);
}

.startBtn {
  margin-top: 70px;
}

.startBtn  {
  border-radius: 20px;
  background: #dba634;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  width: 325px;
  height: 55px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.startBtn:hover {
  background-color: #da9a12;
}
